Repository rems-project/cerberus, pull requests merged in 2025-03, with the labels that each got.

#905 CN VIP: add unsupported C type conv err msg
  backend/cn/lib/check.ml
  backend/cn/lib/typeErrors.ml
  backend/cn/lib/typeErrors.mli
  tests/cn/to_from_bytes_struct.error.c
  tests/cn/to_from_bytes_struct.error.c.verify
Labels: ui/ux, cn

#908 [CN-Test-Gen] Fix issue with printing errors
  runtime/libcn/include/cn-testing/test.h
  runtime/libcn/src/cn-testing/test.c
Labels: bug, cn, CN spec testing

#924 [CN-Test-Gen] Update defaults for errors
  backend/cn/bin/main.ml
  backend/cn/lib/testGeneration/buildScript.ml
  backend/cn/lib/testGeneration/testGenConfig.ml
  backend/cn/lib/testGeneration/testGenConfig.mli
  runtime/libcn/include/cn-testing/test.h
  runtime/libcn/src/cn-executable/utils.c
  runtime/libcn/src/cn-testing/test.c
  tests/cn-test-gen/run-single-test.sh
Labels: cn, CN spec testing
